* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0 50px;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8ff;
  overflow: scroll;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 4px 1rem;
  box-shadow: 0 10px 10px 5px #c7c6c6bf;
  border: 1px solid #e6e3e3bf;
}

.title {
  font-size: 34px;
  font-weight: bold;
  line-height: 32px;
  padding: 0.5rem 0;
  color: #087697;
}

.menu {
  display: flex;
  list-style: none;
  gap: 24px;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  column-gap: 1.5rem;
  right: 0;
}

.user-button {
  background: #f1f3f4;
  border: none;
  cursor: pointer;
  float: right;
  outline: none;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  margin: auto auto;
}

.user_body {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.users_container {
  padding: 1.5rem;
}

.user_container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.posts_container {
  padding: 1.5rem;
}

.post_body {
  padding: 1.5rem;
}

.post_container {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #f1efef;
  padding: 1rem;
  box-shadow: 0 10px 10px 5px #d1cecebf;
  border: 1px solid #e6e3e3bf;
}

.post-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.commentt {
  list-style-type: none;
  padding: 0 16px 16px 0;
}

.posts_content {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.posts_cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  align-items: center;
  justify-content: center;
}

.posts_data {
  width: 100%;
}

.recent_comments {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 3px dashed #141416;
  border-radius: 0.2rem;
  padding: 0 0.5rem;
  margin-bottom: 1.5rem;
  word-break: break-all;
}

.comment {
  font-style: italic;
}

.user {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.user_sec {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.users_contt {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 1.3rem 0.5rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
}

.users_cont {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.user_link {
  text-decoration: none;
}

.user_cont {
  width: 90%;
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.user_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding: 1.3rem 0.5rem;
}

.pic_cont {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 0.5rem;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.post-count {
  align-self: flex-end;
}

.will-paginate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

button a {
  text-decoration: none;
  color: #f7f2f2;
}

.will-paginate-container a,
.will-paginate-container span {
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 3px;
  color: #8828bf;
  text-decoration: none;
  border: 1px solid #ccc;
}

.navBar a {
  display: block;
  font-size: 16px;
  padding: 8px 8px;
  text-decoration: none;
  color: #979197;
  text-transform: uppercase;
  cursor: pointer;
}

.will-paginate-container a:hover,
.will-paginate-container span.current {
  background-color: #8828bf;
  color: #fff;
  border-color: #8828bf;
}

button {
  display: inline-block;
  border-radius: 4px;
  background-color: #8828bf;
  border: none;
  color: #f7f2f2;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  align-self: center;
}

.navBar a:focus {
  color: #262726f8;
}

.navBar a:hover {
  color: #262726f8;
}

.post-comments {
  padding: 16px 0;
}

.post-comments form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}

button,
input[type=submit] {
  display: inline-block;
  background-color: #6e6e6e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  transition: all 0.3s ease;
  text-align: center;
  margin: 5px;
}

.home_signout {
  display: inline-block;
  background-color: #6e6e6e;
  color: #fff;
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  margin: 5px;
}

button:hover {
  background-color: #333;
}

.post-likes {
  padding: 0 0 24px 0;
}

.post-likes button {
  background: none;
  color: #000;
  padding: 0;
  margin: 0;
  text-align: left;
}

.new-post {
  height: 100%;
}

.new-post label {
  width: 100%;
  vertical-align: middle;
}

.new-post textarea {
  height: 200px;
}

.new-post textarea,
.post-comments form textarea,
.new-post input[type=text] {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: none;
}

.new-post input[type=text] {
  height: 30px;
}

.post-comments form textarea {
  height: 40px;
}

.logout_cont {
  list-style: none;
  display: flex;
  align-items: center;
}

.edit-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.4rem;
  background-color: #3f8fa7;
  color: #fff;
  border: 1px solid  #3f8fa7;
  border-radius: 0.3rem;
  box-shadow: 0 2px 0 2px #fff;
}

.edit-link:hover {
  background-color: #154150;
}

.home-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.4rem;
  background-color: #087697;
  color: #fff;
  border: 1px solid  #087697;
  border-radius: 0.3rem;
  box-shadow: 0 2px 0 2px #fff;
}

.home-link:hover {
  background-color: #154150;
}

.new_user {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.field .input {
  width: 30%;
}

.login_btn {
  width: 30%;
}

.comment_cont {
  display: flex;
  align-items: center;
}

.comment_btn {
  padding: 0.2rem;
  font-size: 0.7rem;
  background-color: #087697;
  border-radius: 0.5rem;
  color: #f60505;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post_btn {
  padding: 0.3rem;
  font-size: 0.8rem;
  background-color: #6cbdd6;
  color: #f95454;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  display: flex;
  margin: 0 0 1rem 0.5rem;
  column-gap: 0.2rem;
}

.notification {
  text-align: center;
  height: 1.5rem;
}

.notice {
  background-color: #0bf10b;
  color: #fff;
  width: 30%;
  margin: auto;
  border-radius: 1rem;
}

.alert {
  background-color: #fa0808;
  color: #fff;
  width: 30%;
  margin: auto;
  border-radius: 1rem;
}

@media screen and (max-width: 767px) {
  .post_container {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f1efef;
    padding: 0.6rem;
    box-shadow: 0 10px 10px 5px #d1cecebf;
    border: 1px solid #e6e3e3bf;
  }
}
